@{
    ViewData["Title"] = "About Us Page";
}
<div class="container mt-5">
    <div class="about-section">
        <h1>Pharm Store.</h1>
        <p>Welcome to Pharm Store, your trusted online pharmacy for all your healthcare needs! We are dedicated to providing you with convenient and reliable access to a wide range of pharmaceutical products and health-related services..</p>
        <p>Wish you a great day!</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h2 class="text-primary">Our Mission</h2>
            <p>
                At Pharm Store, our mission is to be a beacon of health and wellness, providing accessible and compassionate pharmaceutical care to enhance the lives of our community. We are committed to fostering a healthier society by delivering quality medications, expert guidance, and unwavering support.
            </p>

        </div>

        <div class="col-md-6 mx-auto">
            <h2 class="text-success">What We Offer</h2>
            <p>
                At Pharm Store, we believe in empowering you to take charge of your health journey. Beyond being your neighborhood pharmacy, we are your partners in wellness, offering personalized care and support every step of the way.Your Health, Our Priority - Experience the Pharm Store Difference Today!
            </p>
        </div>
    </div>

    <div class='holder'>
        <h3>We proudly have the brands as:</h3>
        <div class="representations">
            <div class="imgBox"><img src="/images/La-Roche-Posay-Logo.png" alt="La-Roche-Posay" /></div>
            <div class="imgBox"><img src="/images/revox-logo.png" alt="Vichy" /></div>
            <div class="imgBox"><img src="/images/vitabioticsLogo.png" alt="Revox" /></div>
            <div class="imgBox"><img src="/images/vichy-3-logo.png" alt="Vitabiotics" /></div>
        </div>
        <h2>Thank you for visiting us.</h2>
    </div>

</div>