@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="mainContent">
        <div class="mainImage">
            <img src="~/images/aboutusimgg.jpg" />
        </div>

        <div class="mainText">
            <h3>We are committed to providing high-quality medications and excellent customer service.</h3>
            <p></p>
            <Button type="submit">View Products</Button>
        </div>
    </div>

    <div class="employeeContainer">
        <h2>&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;   Every moment you can reach out our pharmacists &#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;&#9135;</h2>
        <div class="employee">
            <div class="employeeImage">
                <img src="/images/pharm2.jpg" />
            </div>
            <div class="employeeInfo">
                <span class="employeeName">Gente Krasniqi</span>
                <span class="employeeTitle">Pharm</span>
                <span class="employeeTitle">Pharm</span>
            </div>
        </div>
        <div class="employee">
            <div class="employeeImage">
                <img src="/images/pharm2.jpg" />
            </div>
            <div class="employeeInfo">
                <span class="employeeName">Valmire Stublla</span>
                <span class="employeeTitle">Pharm</span>
                <span class="employeeTitle">Pharm</span>
            </div>
        </div>
    </div>

</body>